.icon {

    margin-left: 30px;

}

.navbar {

    z-index: 1;
    height: 70px;

}

.icon i {

    color: red;
    font-size: 25px;

}

.menu {


    color: rgb(192, 4, 4);
    font-size: 25px;
    margin-left: 20px;
    font-weight: 900;


}

.ser {

    background-color: rgb(205, 7, 7);
    height: 70px;
    margin-top: -9px;
    padding: 15px 40px;
    margin-top: -10px;



}

.ser a {

    color: white;

}

section#header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    height: 50px;
    padding: 0 30px;

}

.text {

    text-align: center;
    height: 10px;
    margin-top: 10px;
    text-transform: uppercase;

}

.icons {
    display: flex;
    margin: 0 50px;
}

.icons i {

    color: red;
    margin-right: 15px;

}

.icons h6 {

    margin-right: 15px;
    color: gray;
    font-size: 13px;

}

.right-icons {

    display: flex;
    align-items: center;


}

.icn {

    display: flex;

}

.icn i {

    background-color: white;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.right-icons i {

    color: red;
    margin-right: 10px;
    cursor: pointer;

}


.right-icons h6 {

    margin-right: 50px;
    color: gray;
    margin-top: 10px;
    font-size: 15px;

}

section#home-main{

    height: 100vh;
    position: relative;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(carousel-bg-1.jpg);

}

.text-body {

    position: absolute;
    margin-top: 200px;
    z-index: 1;
    margin-left: 50px;
    text-transform: uppercase;
}


.corusel-image img:nth-child(2) {

    height: 280px;
    margin-left: 640px;
    width: 450px;
    margin-top: -600px;

}

.text-body h1 {

    color: white;
    font-size: 14px;

}

.text-body p {

    color: white;
    font-size: 50px;
    width: 500px;
    text-transform: none;
    font-weight: 900;

}

.text-body button {

    padding: 10px 40px;
    background-color: red;
    border: 1px solid rgb(247, 5, 5);
    color: white;

}

section#card {

    padding: 150px;

}

.cards {

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.card:nth-child(2) {

    background-color: whitesmoke;

}

.card-about {

    height: 200px;
    display: flex;
    padding: 30px;

}

.icon-card {


    font-size: 40px;
    color: red;

}

.text-about h1 {

    font-size: 15px;
    font-weight: 900;
    margin-top: 10px;

}

.text-about {

    padding: 10px;

}

.text-about p {

    font-size: 14px;
    margin-top: 20px;
    color: gray;

}

.text-about h4 {

    font-size: 12px;
    text-decoration: underline;
    color: gray;
    cursor: pointer;
    width: 65px;

}

.all-us {

    display: flex;
    width: 100%;
    height: 100%;

}


.image img {

    width: 500px;
    height: 430px;

}

.image {

    position: relative;


}

.text-us {

    padding: 0 30px;

}

.profisional {

    display: flex;

}

.text-us h6 {

    color: red;
    text-transform: uppercase;

}

.text-us h1 {

    font-size: 30px;

}

.text-us p {

    font-size: 12px;
    width: 400px;

}

.position-us {

    position: absolute;
    z-index: 1;
    color: white;
    width: 200px;
    margin-left: 280px;
    margin-top: 10px;
    text-align: right;
}

.position-us h1 {

    font-size: 30px;

}

.text-us h3 {

    background-color: whitesmoke;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -30px;


}

.people-export h5 {

    font-size: 15px;
    font-weight: 700;

}

.people-export a {

    padding: 15px 50px;
    margin-left: -80px;
    margin-top: 20px;

}

section#about-us {

    padding-bottom: 100px;

}

section#mechanick {

    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(carousel-bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px;
    color: white;


}

.all-mechanick {

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;

}

.meal i {

    font-size: 25px;

}

.meal {

    text-align: center;

}


section#explore {

    padding: 100px;

}

.btns-pp button{

     width: 300px;
     background-color: rgb(226, 170, 170);
     height: 90px;
     color: white;
}

.btns {

    display: flex;
    flex-direction: column;

}


.btns button {

    padding: 30px 70px;


}
.text-exp{

    margin-left: -50px;

}


.text-exp h1 {

    font-size: 25px;
    margin-left: 50px;
    width: 350px;

}

.text-exp p {

    margin-left: 50px;
    width: 300px;
    font-size: 15px;

}

.icon-explore {

    display: flex;
    margin-left: 50px;

}
.imge-expl img{

    width: 300px;
    height: 360px;
    margin-left: 16px;

}


.text-explore h4 {

    font-size: 15px;
    width: 120px;
    margin-left: 10px;


}




.icon-ex i {

    color: green;

}

.text-explore a {

    padding: 10px 70px;
    margin-top: 35px;
    margin-left: -20px;

}

section#explore h1 {

    text-transform: uppercase;
    font-size: 22px;
    color: red;
    text-align: center;

}

section#explore h2 {

    text-align: center;
    font-weight: 900;
    margin: 10px 0;

}

section#email {

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(carousel-bg-2.jpg);

}


.email-about {

    color: rgb(255, 255, 255);
    margin-top: 50px;

}

.email-about h1 {

    font-size: 30px;
    width: 500px;
    font-weight: 700;
    margin-left: 50px;
    margin-top: 50px;

}

.email-about p {

    width: 600px;
    font-size: 15px;
    margin-left: 50px;
    margin-top: 30px;

}


.address-about {

    width: 500px;
    height: 400px;
    margin-left: 250px;

}


section#animation {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;

}


.image-teachers img {

    width: 100%;
    height: 250px;

}

.image-teachers {

    position: relative;
    overflow: hidden;

}

.joke {

    padding: 0;

}

.icn-animation {

    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;

}


.joke:hover .icn-animation {

    transform: scale(1.1);

}

.text-animation{

    text-align: center;
    padding: 10px;
    background-color: whitesmoke;

}

.text-animation h1{

    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;

}
.text-animation p{

    font-size: 12px;
    color: gray;

}

.icn-animation{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px;

}

.icn-animation i{

    color: rgb(255, 4, 4);
    background-color: white;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;

}

.icn-animation i:hover{

    color: white;
    background-color: indigo;

}

section#clients{

    padding-bottom: 100px;

}

section#clients h6{

    text-align: center;
    color: rgb(203, 7, 7);

}
section#clients h1{

    text-align: center;
    font-size: 30px;
    margin: 10px 0;
    font-weight: 700;

}

.cards-clients{

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.image-client img{

    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: 120px;

}


.name-client h1{

    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    color: rgb(39, 39, 113);
    font-weight: 700;

}

.name-client p{

    text-align: center;

}


.p-client{

    text-align: center;
    background-color: whitesmoke;
    font-size: 12px;

}

section#footer{

    background-image:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url(carousel-bg-1.jpg);
    color: white;
    padding: 50px;
    height: 300px;

}

.address-footer h1{

   font-size: 20px;

}

.icon-footer{

    display: flex;
    margin-top: 20px;


}

.icn-foot{

    font-size: 15px;
    width: 10px;
    margin-right: 10px;

}

.icn-brands-footer{

    display: flex;
    margin-top: 10px;


}
.text-footer h6{

    font-size: 12px;
    margin-left: 10px;
    line-height: 16px;

}

.icn-brands-footer i{

   border: 1px solid white;
   height: 30px;
   width: 30px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: 0.5s;

}

.icn-brands-footer i:hover{

    background-color: white;
    color: red;

}

.fot-text h1{

   font-size: 20px;

}

.fot-text h2{

    font-size: 15px;
    margin-top: 20px;

}

.serv h1{

    font-size: 20px;

}

.d-f-footer{

    display: flex; 
    margin-top: 20px;


}

.ic-foter{

    width: 20px;
    font-size: 12px;
    line-height: 25px;
    margin-top: -5px;


}

.icn-text{

    font-size: 12px;
    line-height: 10px;

}

.footer-email h1{

    font-size: 20px;

}

.footer-about{

    display: flex;
    justify-content: space-between;

}

.footer-hr h1{

  font-size: 13px;
  width: 500px;

}

.footer-menu{

    margin-left: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    padding: 0 50px;

}

.footer-menu a{

    color: white;
    text-decoration: none;


}